table{
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

th,td{
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
